{{> layout/header}}

<body>
<div class="container">
    <h1>마이 페이지</h1>

    <div class="section">
        <h2>결제 내역</h2>
        <table>
            <thead>
            <tr>
                <th>주문 번호</th>
                <th>상품명</th>
                <th>수량</th>
                <th>총 금액</th>
                <th>주문 날짜</th>
            </tr>
            </thead>
            <tbody>
            {{#orders}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{productName}}</td>
                    <td>{{quantity}}</td>
                    <td>{{totalPrice}}원</td>
                    <td>{{formattedOrderDate}}</td>
                </tr>
            {{/orders}}
            </tbody>
        </table>
    </div>

    <div class="section">
        <h2>취소 내역</h2>
        <table>
            <thead>
            <tr>
                <th>취소 번호</th>
                <th>상품명</th>
                <th>수량</th>
                <th>총 금액</th>
                <th>취소 날짜</th>
            </tr>
            </thead>
            <tbody>
            {{#cancelOrders}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{productName}}</td>
                    <td>{{quantity}}</td>
                    <td>{{totalPrice}}원</td>
                    <td>{{formattedCancelDate}}</td>
                </tr>
            {{/cancelOrders}}
            </tbody>
        </table>
    </div>
</div>
</body>

{{> layout/footer}}