<div class="bg-light text-center">
    <div class="footer-content">
        <div>Created by 좋은 하루</div>
        <div class="contact-info">
            <span>고객센터: 010.123.1234</span>
            <span> | </span>
            <span>오시는 길: 부산 수영구</span>
        </div>
    </div>
</div>
