<!DOCTYPE html>
<html lang="en">

<head>
    <title>fine day</title>
    <div class="main-header">
        <img class="main-logo" src="../img/제철하루.png" alt="좋은하루">
        <div class="main-nav">
            <a href="#">홈</a>
            <a href="#">마이페이지 </a>
        </div>
    </div>

    <link rel="stylesheet" href="../css/productList.css">
</head>