<!DOCTYPE html>
<html lang="en">

<head>
    <title>fine day</title>
    <div class="main-header">
        <img class="main-logo" src="../img/제철하루.png" alt="좋은하루">
        <div class="main-nav">
            <a href="/">홈</a>
            <a href="/paymentHistory">마이페이지 </a>
            <a href="/loginForm">로그인 </a>
            <a href="/payment">주문하기 </a>
        </div>
    </div>

    <link rel="stylesheet" href="../css/productList.css">
    <link rel="stylesheet" href="../css/payment.css">
    <link rel="stylesheet" href="../css/paymentHistory.css">
    <link rel="stylesheet" href="../css/loginForm.css">
    <link rel="stylesheet" href="../css/paymentForm.css">
</head>