.order-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
}

.payment-submit-btn{
    background-color: #7ED957;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    width: 100%; /* 버튼 크기 조절 */
    text-align: center;
}

.order-details {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 사진 높이와 맞춤 */
    align-items: flex-start; /* 왼쪽 정렬 */
    height: 100%; /* 높이를 이미지와 동일하게 */

}

.order-details h2{
    font-size: 30px;
    background: #FFDE59;
    margin-bottom: 20px;
}

.order-details form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.quantity {
    display: inline-block;
    width: auto;
    margin: 0; /* 버튼 간 여백 제거 */
    text-align: center; /* 텍스트 정렬 */
}

.order-details form .quantity-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    gap: 5px; /* 버튼과 입력 필드 간의 간격 */
    margin-bottom: 10px; /* 아래 요소와의 간격 */
}

.order-details p {
    margin: 10px 0;
}

.payment-submit-btn{
    background-color: #7ED957;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}


/*.order-details .quantity-control {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-top: 20px;*/
/*    gap: 10px;*/
/*}*/

/*.quantity-control button {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    font-size: 20px;*/
/*    border: 1px solid #ddd;*/
/*    background-color: #f9f9f9;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*}*/

/*#quantity {*/
/*    text-align: center;*/
/*}*/

.payment-submit-btn {
    background-color: #7ED957;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin-top: auto; /* 하단 배치 */
    align-self: flex-end; /* 오른쪽 정렬 */
}