.container { max-width: 800px; margin: 0 auto; padding: 20px; }
.section { border: 1px solid #ddd; margin-bottom: 20px; padding: 15px; }
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ddd; padding: 10px; text-align: center; }
.container h1{
    background: #FFDE59;
}