{{> layout/header}}

<body>
<div class="main">
    <div class="main-title">이 달의 제철과일 </div>
    <div class="main-subtitle">See what's in season this month</div>
    <div class="grid-box">
        <div class="grid-box-upper">
            <!-- 사과 섹션 -->
            <div class="grid-item">
                <div class="grid-img1 grid-img"></div>
                <div class="grid-text">
                    <span class="title">산지직송 얼음골 사과</span>
                    <span  class="price">가격예시</span>
                    <div class="btn"><button>주문하기</button></div>
                </div>
            </div>
            <!-- 딸기 섹션 -->
            <div class="grid-item">
                <div class="grid-img2 grid-img"></div>
                <div class="grid-text">
                    <span class="title">하우스 재배 고당도 딸기</span>
                    <span class="price">가격예시</span>
                    <div class="btn"><button>주문하기</button></div>
                </div>
            </div>
    </div>
    </div>

</div>
</body>



{{> layout/footer}}